@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
}

canvas {
    display: auto;
    width: 30vw;
    height: 30vw;
}

#canvas-container {
    width: 30vw;
    height: 35vw;
}

#game-container {
    width: fit-content;
    color: magenta;
}

#info-bar {
    font-family: 'Patua One', cursive;
    padding: 5px;
    /*   display: flex; */
    /*   border: solid */
}

#info-bar p {
    font-size: 20px;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}

.form-inline p {
    margin: 5px 10px 5px 0;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#title {
    font-family: 'Patua One', cursive;
    font-size: 64px;
    width: fit-content;
    text-align: center;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-out infinite alternate;
    animation: glow 1s ease-out infinite alternate;
}

.glow2 {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-out infinite alternate;
    animation: glow 1s ease-out infinite alternate;
    font-size: 30px;
}

#title {
    font-size: 60px;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.robo,
.man {
    width: 25%;
    display: flexbox;
}

.board {
    width: 50%;
    display: flexbox;
}

#Note {
    font-size: 19px;
}

#reset-button,
#hint-button,
#submit {
    border: 0;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    font-family: cursive;
    margin-top: 10px;
    margin-bottom: 10px;
}

#reset-button:hover {
    background-color: black;
    color: #FF9933;
}

#hint-button:hover {
    background-color: black;
    color: chartreuse;
}

#submit:hover {
    background-color: black;
    color: cyan;
}

#submit:focus,
#reset-button:focus,
#hint-button:focus {
    outline: 0;
}

#input {
    width: 150px;
}

#name-input {
    text-align: center;
    padding: 0;
}

#username {
    margin-left: 140px;
    margin-bottom: 0;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#options-bar {
    text-align: center;
    margin-top: 60px;
}

@media(max-width:867px) {
    .glow {
        font-size: 5vw;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-out infinite alternate;
        animation: glow 1s ease-out infinite alternate;
    }
    #reset-button,
    #hint-button,
    #submit {
        border: 0;
        height: 4vw;
        width: 11vw;
        /* border-radius: 10px; */
        font-size: 2vw;
        font-family: cursive;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    /* #reset-button:hover {
        background-color: black;
        color: #FF9933;
    }
    #hint-button:hover {
        background-color: black;
        color: chartreuse;
    }
    #submit:hover {
        background-color: black;
        color: cyan;
    }
    #submit:focus,
    #reset-button:focus,
    #hint-button:focus {
        outline: 0;
    } */
}